table{
  width: 100%;
  margin: 20px 0 20px;
  text-align: center;
  font-size: 20px;
  user-select: none;
  border: 1px solid black;
  border-collapse: collapse;
  td, th{
    border: 1px solid black;
    padding: 10px;
    &.disabled{
      background: rgba(#000, .15);
      span{
        opacity: .3;
      }
    }
  }
  td{
    transition: background-color linear .3s;
    cursor: pointer;
    &:hover{
      background-color: #e5e5e5;
    }
  }
  th{
    background: #c5c5c5;
  }
  span{
    &.active{
      color: red;
      font-weight: 700;
    }
    &.selected{
      color: blue;
    }
  }
}
